In [1]:
import learner as sl
import timeseries as ts
from volproxy import *

In [4]:
#Loading of AUD-USD currency exchange rate
tsdf=ts.TimeSeriesDF("../data/aaUDUSD.csv")

tsdf.getDaily()["Close"].count()

2008-05-07    288
2008-05-08    288
2008-05-09    288
2008-05-10      0
2008-05-11      0
2008-05-12    288
2008-05-13    288
2008-05-14    288
2008-05-15    288
2008-05-16    288
2008-05-17      0
2008-05-18      0
2008-05-19    288
2008-05-20    288
2008-05-21    288
2008-05-22    288
2008-05-23    288
2008-05-24      0
2008-05-25      0
2008-05-26    288
2008-05-27    288
2008-05-28    288
2008-05-29    288
2008-05-30    288
2008-05-31      0
2008-06-01      0
2008-06-02    288
2008-06-03    288
2008-06-04    288
2008-06-05    288
             ...
2013-04-02    288
2013-04-03    288
2013-04-04    288
2013-04-05    288
2013-04-06      0
2013-04-07      0
2013-04-08    288
2013-04-09    288
2013-04-10    288
2013-04-11    288
2013-04-12    288
2013-04-13      0
2013-04-14      0
2013-04-15    288
2013-04-16    288
2013-04-17    288
2013-04-18    288
2013-04-19    288
2013-04-20      0
2013-04-21      0
2013-04-22    288
2013-04-23    288
2013-04-24    288
2013-04-25    288
2013-04-26    288
2013-04-27      0
2013-04-28      0
2013-04-29    288
2013-04-30    288
2013-05-01     95
Freq: D, Name: Close, dtype: int64

In [5]:
tsdf.getWeekly()["Close"].count()

2008-05-11     864
2008-05-18    1440
2008-05-25    1440
2008-06-01    1440
2008-06-08    1440
2008-06-15    1440
2008-06-22    1440
2008-06-29    1440
2008-07-06    1440
2008-07-13    1440
2008-07-20    1440
2008-07-27    1440
2008-08-03    1440
2008-08-10    1440
2008-08-17    1440
2008-08-24    1440
2008-08-31    1440
2008-09-07    1440
2008-09-14    1440
2008-09-21    1440
2008-09-28    1440
2008-10-05    1440
2008-10-12    1440
2008-10-19    1440
2008-10-26    1440
2008-11-02    1440
2008-11-09    1440
2008-11-16    1440
2008-11-23    1440
2008-11-30    1440
              ...
2012-10-14    1440
2012-10-21    1440
2012-10-28    1440
2012-11-04    1440
2012-11-11    1440
2012-11-18    1440
2012-11-25    1440
2012-12-02    1440
2012-12-09    1440
2012-12-16    1440
2012-12-23    1440
2012-12-30    1440
2013-01-06    1440
2013-01-13    1440
2013-01-20    1440
2013-01-27    1440
2013-02-03    1440
2013-02-10    1440
2013-02-17    1440
2013-02-24    1440
2013-03-03    1440
2013-03-10    1440
2013-03-17    1440
2013-03-24    1440
2013-03-31    1440
2013-04-07    1440
2013-04-14    1440
2013-04-21    1440
2013-04-28    1440
2013-05-05     671
Freq: W-SUN, Name: Close, dtype: int64

In [6]:
tsdf.getMonthly()["Close"].count()

2008-05-31    5184
2008-06-30    6048
2008-07-31    6624
2008-08-31    6048
2008-09-30    6336
2008-10-31    6624
2008-11-30    5760
2008-12-31    6624
2009-01-31    6336
2009-02-28    5760
2009-03-31    6336
2009-04-30    6336
2009-05-31    6048
2009-06-30    6336
2009-07-31    6624
2009-08-31    6048
2009-09-30    6336
2009-10-31    6336
2009-11-30    6048
2009-12-31    6624
2010-01-31    6048
2010-02-28    5760
2010-03-31    6624
2010-04-30    6336
2010-05-31    6048
2010-06-30    6336
2010-07-31    6336
2010-08-31    6336
2010-09-30    6336
2010-10-31    6048
              ...
2010-12-31    6624
2011-01-31    6048
2011-02-28    5760
2011-03-31    6624
2011-04-30    6048
2011-05-31    6336
2011-06-30    6336
2011-07-31    6048
2011-08-31    6624
2011-09-30    6336
2011-10-31    6048
2011-11-30    6336
2011-12-31    6336
2012-01-31    6336
2012-02-29    6048
2012-03-31    6336
2012-04-30    6048
2012-05-31    6624
2012-06-30    6048
2012-07-31    6336
2012-08-31    6624
2012-09-30    5760
2012-10-31    6624
2012-11-30    6336
2012-12-31    6048
2013-01-31    6624
2013-02-28    5760
2013-03-31    6048
2013-04-30    6336
2013-05-31      95
Freq: M, Name: Close, dtype: int64

In [9]:
from pandas.tseries.offsets import CustomBusinessMonthBegin, CustomBusinessHour
bh = CustomBusinessHour(start='16:00',weekmask='Sun Mon Tue Wed Thu Fri')
tsdf.df.groupby(pd.TimeGrouper(freq=bh))["Close"].count()

2008-05-06 17:00:00    480
2008-05-08 16:00:00    288
2008-05-09 16:00:00    288
2008-05-12 16:00:00    288
2008-05-13 16:00:00    288
2008-05-14 16:00:00    288
2008-05-15 16:00:00    288
2008-05-16 16:00:00    288
2008-05-19 16:00:00    288
2008-05-20 16:00:00    288
2008-05-21 16:00:00    288
2008-05-22 16:00:00    288
2008-05-23 16:00:00    288
2008-05-26 16:00:00    288
2008-05-27 16:00:00    288
2008-05-28 16:00:00    288
2008-05-29 16:00:00    288
2008-05-30 16:00:00    288
2008-06-02 16:00:00    288
2008-06-03 16:00:00    288
2008-06-04 16:00:00    288
2008-06-05 16:00:00    288
2008-06-06 16:00:00    288
2008-06-09 16:00:00    288
2008-06-10 16:00:00    288
2008-06-11 16:00:00    288
2008-06-12 16:00:00    288
2008-06-13 16:00:00    288
2008-06-16 16:00:00    288
2008-06-17 16:00:00    288
                      ...
2013-03-21 16:00:00    288
2013-03-22 16:00:00    288
2013-03-25 16:00:00    288
2013-03-26 16:00:00    288
2013-03-27 16:00:00    288
2013-03-28 16:00:00    288
2013-03-29 16:00:00    288
2013-04-01 16:00:00    288
2013-04-02 16:00:00    288
2013-04-03 16:00:00    288
2013-04-04 16:00:00    288
2013-04-05 16:00:00    288
2013-04-08 16:00:00    288
2013-04-09 16:00:00    288
2013-04-10 16:00:00    288
2013-04-11 16:00:00    288
2013-04-12 16:00:00    288
2013-04-15 16:00:00    288
2013-04-16 16:00:00    288
2013-04-17 16:00:00    288
2013-04-18 16:00:00    288
2013-04-19 16:00:00    288
2013-04-22 16:00:00    288
2013-04-23 16:00:00    288
2013-04-24 16:00:00    288
2013-04-25 16:00:00    288
2013-04-26 16:00:00    288
2013-04-29 16:00:00    288
2013-04-30 16:00:00    191
2013-05-01 16:00:00      0
Freq: CBH, Name: Close, dtype: int64

In [89]:
dt = tsdf.df.index
dt
dt =  dt + pd.offsets.Hour(8) + pd.offsets.Minute(-5)
dt
tsdf.df.index = dt

In [3]:
tsdf.getDaily()["Close"].count()

2008-05-07    288
2008-05-08    288
2008-05-09    288
2008-05-10      0
2008-05-11      0
2008-05-12    288
2008-05-13    288
2008-05-14    288
2008-05-15    288
2008-05-16    288
2008-05-17      0
2008-05-18      0
2008-05-19    288
2008-05-20    288
2008-05-21    288
2008-05-22    288
2008-05-23    288
2008-05-24      0
2008-05-25      0
2008-05-26    288
2008-05-27    288
2008-05-28    288
2008-05-29    288
2008-05-30    103
Freq: D, Name: Close, dtype: int64

In [86]:
tsdf.getWeekly()["Close"].count()

2008-05-11     864
2008-05-18    1440
2008-05-25    1440
2008-06-01    1255
Freq: W-SUN, Name: Close, dtype: int64

In [6]:
tsdf_returns = Returns.compute(tsdf)
vol = Volatilities(tsdf_returns.getDaily())
vol.annualize()
vol.vols.dropna(inplace=True)

In [24]:
import numpy as np
#np.where(vol.vols["CloseReturn"] == 0)
vol.vols[vol.vols['CloseReturn'] == 0]

            OpenReturn  HighReturn  LowReturn  CloseReturn
2011-11-06    0.002661    0.002661   0.021296          0.0

In [29]:
vol.vols[vol.vols['OpenReturn']<=0]

Empty DataFrame
Columns: [OpenReturn, HighReturn, LowReturn, CloseReturn]
Index: []

In [30]:
LR = sl.StatLearner.linearRegresser(vol.vols,colname="OpenReturn",training_size=400)

In [31]:
LR

,MQL,MSE,params
linearRegresser_3,0.029048,0.001109,"{'all_coeffs': [[-0.0869954594571, [ 0.1614987..."